<app-navbar></app-navbar>

<div class="container mt-5 text-center d-flex justify-content-center">
  <div class="container mt-5 text-center"> 
    <h1 class="mb-4">Welcome to the Quiz Platform</h1>
    <p class="lead">Get ready to test your knowledge with our exciting quizzes.</p>
    <button class="btn btn-primary btn-lg" routerLink="/quizQueen">Start Quiz</button>
  </div>
  
  <div class="container mt-5 text-center">
    <h2 class="mb-4">View Your Results</h2>
    <p class="lead">Check out your previous quiz attempts and scores.</p>
    <button class="btn btn-secondary btn-lg" routerLink="/result">View Results</button>
  </div>

</div>

